# Environment & secrets
.env
.env.*
db/localsettings.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
build/
dist/

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log